    <footer class="colored-section">
        <div class="container-fluid">
            <div class="footer-icons">
                <a href="https://www.twitter.com/"><i class="footer-icon fab fa-twitter"></i></a>
                <a href="https://www.facebook.com/"><i class="footer-icon fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/"><i class="footer-icon fab fa-instagram"></i></a>
                <a href="mailto:jaedoyne@gmail.com/"><i class="footer-icon fas fa-envelope"></i></a>
            </div>
            <p>© Copyright 2020 finCare</p>
        </div>


    </footer>

</body>

</html>