<%- include('../partials/header') %>

<main>

    <div class="container-fluid">

        <div class="mb-5">
            <h1 class="display-4 mb-5">Wizard Calculator</h1>
           
            <a href="../dashboard/myProfile"><button class="btn btn-lg btn-primary float-right">Edit Profile</button></a>
            <p class="float-right lead mr-3 mt-2 text-danger">Incorrect Parent or Child Details? >>></p> 
            <p class="lead">Couple Household</p>            
            <!-- <a href="../dashboard/myProfile">Edit<i class="fas fa-pen ml-2 text-primary"></i></a> -->
        </div>

        <hr>

        <form class="needs-validation" novalidate onsubmit="return validation();" action="/wizard" method="POST">
     
                <div class="row">

                    <div class="col-lg-6 pr-5">

                        <h3 class="ml-4">Scenario One</h3>
                        
                        <div class="row g-3 mt-5">

                            <div class="col-md-5">
                                <label for="parent1Salary1">Karina Annual Salary</label>
                                <input class="form-control" type="number" name="parent1Salary1" id="parent1Salary1">
                            </div>
        
                            <div class="col-md-5">
                                <label for="parent1Hours1">Karina Hours Worked Per Week</label>
                                <input class="form-control" type="number" name="parent1Hours1" id="parent1Hours1">
                            </div>  
                        </div>
                    </div>

                    <div class="col-lg-6 pl-4">

                        <h3 class="ml-4">Scenario Two</h3>
                        
                        <div class="row g-3 mt-5">

                            <div class="col-md-5">
                                <label for="parent1Salary1">Karina Annual Salary</label>
                                <input class="form-control" type="number" name="parent1Salary2" id="parent1Salary2">
                            </div>
        
                            <div class="col-md-5">
                                <label for="parent1Hours1">Karina Hours Worked Per Week</label>
                                <input class="form-control" type="number" name="parent1Hours2" id="parent1Hours2">
                            </div>  
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 pr-5">

                        <div class="row g-3 mt-3">

                            <div class="col-md-5">
                                <label for="parent1Salary1">Daniel Annual Salary</label>
                                <input class="form-control" type="number" name="parent2Salary1" id="parent1Salary1">
                            </div>
        
                            <div class="col-md-5">
                                <label for="parent1Hours1">Daniel Hours Worked Per Week</label>
                                <input class="form-control" type="number" name="parent2Hours1" id="parent1Hours1">
                            </div>  
                        </div>
                    </div>
                    <div class="col-lg-6 pl-4">

                        <div class="row g-3 mt-3">

                            <div class="col-md-5">
                                <label for="parent1Salary1">Daniel Annual Salary</label>
                                <input class="form-control" type="number" name="parent2Salary2" id="parent2Salary2">
                            </div>
        
                            <div class="col-md-5">
                                <label for="parent1Hours1">Daniel Hours Worked Per Week</label>
                                <input class="form-control" type="number" name="parent2Hours2" id="parent2Hours2">
                            </div>  
                        </div>
                    </div>
                </div>
                <p class="mt-5 mb-3 lead text-info pl-3"><strong> Childcare Arrangements - Scenario One</strong></p>   
                <div class="row ml-3">       

                        <div class="form-group form-inline">
                            <div class="p2">
                                <label for="childNames1">Child</label>  
                                <select class="mr-4 form-select form-control" name="childNames1" id="childNames1">
                                    <option value="riley">Riley</option>
                                    <option value="lincoln">Lincoln</option>
                                </select>
                            </div>
                            <div class="p2">
                                <label for="centreType1">Care Type</label>
                                <select class="mr-4 form-select form-control" name="centreType1" id="centreType1">
                                    <option value="centreBased">Centre-Based</option>
                                    <option value="familyDayCare">Family DayCare</option>
                                    <option value="OSH">Outside School Hours Care</option>
                                </select>
                            </div>
                            <div class="p2">
                                <label for="daysInCare1">Days in Care</label>
                                <select class="mr-5 form-select form-control" name="daysInCare1" id="daysInCare1">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <div class="p2">
                                <label for="dailyCost1">Daily Cost</label><input class="form-control mr-4 pl-4" type="number" name="dailyCost1" id="dailyCost1">
                            </div>
                            <div class="p2">
                                <label for="sessionLength1">Session Length</label>
                                <select class="mr-4 form-control form-select" name="sessionLength1" id="sessionLength1">
                                    <option value="1">10 hours</option>
                                    <option value="2">12 hours</option>
                                </select>
                            </div>
                        </div>
               </div>

               <div class="ml-3">
                <a class="mt-2" href="#">+ Add Arrangement</a>
               </div>


               <p class="mt-5 mb-3 lead text-info pl-3"><strong>Childcare Arrangements - Scenario Two</strong></p>
               <div class="row ml-3">       


                <div class="form-group form-inline">
                    <div class="p2">
                        <label for="childNames2">Child</label>  
                        <select class="mr-4 form-select form-control" name="childNames2" id="childNames2">
                            <option value="riley">Riley</option>
                            <option value="lincoln">Lincoln</option>
                        </select>
                    </div>
                    <div class="p2">
                        <label for="centreType2">Care Type</label>
                        <select class="mr-4 form-select form-control" name="centreType2" id="centreType2">
                            <option value="centreBased">Centre-Based</option>
                            <option value="familyDayCare">Family DayCare</option>
                            <option value="OSH">Outside School Hours Care</option>
                        </select>
                    </div>
                    <div class="p2">
                        <label for="daysInCare2">Days in Care</label>
                        <select class="mr-5 form-select form-control" name="daysInCare2" id="daysInCare2">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="p2">
                        <label for="dailyCost2">Daily Cost</label><input class="form-control mr-4 pl-4" type="number" name="dailyCost2" id="dailyCost2">
                    </div>
                    <div class="p2">
                        <label for="sessionLength2">Session Length</label>
                        <select class="mr-4 form-control form-select" name="sessionLength2" id="sessionLength2">
                            <option value="1">10 hours</option>
                            <option value="2">12 hours</option>
                        </select>
                    </div>
                </div>
       </div>

               <div class="ml-3">
                <a class="mt-2" href="#">+ Add Arrangement</a>
               </div>

                <div class="row mt-5">
                    <div class="col">

                        <button class="btn btn-lg btn-dark mt-5 p-4 mr-5" type="submit">Run Wizard</button>
                        <button class="btn btn-lg btn-primary mt-5 p-4" type="reset">Reset</button>

                    </div>
                </div>

        </form>
    </div>
</main>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

    function validation(){
        let boolReturn = true;

        if(document.getElementById('checkedSingle').checked === false && document.getElementById('checkedCouple').checked === false){
            document.getElementById('householdCheckMessage').innerHTML = "<em>Please choose a household option.</em>";
            boolReturn = false;
        }

        if(boolReturn){
            return true;
        } else return false;
    }



        $('#checkedSingle').on('click', function(){

            $('#parent2Alt').hide();
            $('#parent2Base').hide();
            $('#householdCheckMessage').hide();
        });

        $('#checkedCouple').on('click', function(){

            $('#parent2Alt').show();
            $('#parent2Base').show();
            $('#householdCheckMessage').hide();
        });



</script>

<%- include('../partials/footer') %>