<%- include('../partials/header') %>

<main>
        <div class="container-fluid">
            <div class="mb-5">
                <h1 class="display-4 mb-5">Wizard Results</h1>      
            </div>

            <table class="table">

                <tr>
                    <td></td>
                    <td></td>
                    <td>Scenario One</td>
                    <td>Scenario Two</td>
                </tr>
                <tr>
                    <td>HOUSEHOLD INCOME</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Family Income</td>
                    <td>$4,636 per fortnight</td>
                    <td>$4,636 per fortnight</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Karina After Tax Income</td>
                    <td>$2,000 per fortnight</td>
                    <td>$1,000 per fortnight</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Karina Paid Hours Per Week</td>
                    <td>20</td>
                    <td>30</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Daniel After Tax Income</td>
                    <td>$2,000 per fortnight</td>
                    <td>$1,000 per fortnight</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Daniel Paid Hours Per Week</td>
                    <td>20</td>
                    <td>30</td>
                </tr>
                <tr>
                    <td>PAID CHILDCARE</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Out of Pocket Childcare</td>
                    <td>$319 per fortnight</td>
                    <td>$420 per fortnight</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Riley Centre-Based Days</td>
                    <td>2</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Lincoln Centre-Based Days</td>
                    <td>2</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Activity Assessed Parent</td>
                    <td>Karina</td>
                    <td>Karina</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Family Income for Subsidy Calculation</td>
                    <td>$150,000</td>
                    <td>$250,000</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Max Hours of Subsidised Care</td>
                    <td>72</td>
                    <td>72</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Total Care Hours</td>
                    <td>Karina</td>
                    <td>Karina</td>
                </tr>

            </table>


        </div>
    
</main>
         

<%- include('../partials/footer') %>