<%- include('partials/header') %>

<!-- Title Inner-->

<div class="row">
    <div class="col-lg-6">
        <h1 class="big-heading" style="text-align: left;">Wiki</h1>        
        <p style="text-align: left; color: #e43f5a;">What is this calculator?</p>
        <a href="/"><input style="display:block" type="button"
                class="download-btn btn btn-dark btn-lg mb-5 mt-5" value="Return Home"></a>
    </div>
    <div class="col-lg-6">
    </div>
</div>
</div>
</section>


<!-- Features -->

<section class="white-section">

<div class="container-fluid" style="text-align: left;">
    <div class="row mb-5">
        <div class="col">
            <h3 class="middle-heading">Heading 1</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus iste omnis, recusandae 
                laboriosam doloremque officia. Rerum, assumenda cum blanditiis aliquid, maiores delectus 
                distinctio minima quaerat, facilis officia soluta ratione? Repudiandae!</p>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col">
            <h3 class="middle-heading">Heading 2</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus iste omnis, recusandae 
                laboriosam doloremque officia. Rerum, assumenda cum blanditiis aliquid, maiores delectus 
                distinctio minima quaerat, facilis officia soluta ratione? Repudiandae!</p>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col">
            <h3 class="middle-heading">Heading 3</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus iste omnis, recusandae 
                laboriosam doloremque officia. Rerum, assumenda cum blanditiis aliquid, maiores delectus 
                distinctio minima quaerat, facilis officia soluta ratione? Repudiandae!</p>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col">
            <h3 class="middle-heading">Heading 4</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus iste omnis, recusandae 
                laboriosam doloremque officia. Rerum, assumenda cum blanditiis aliquid, maiores delectus 
                distinctio minima quaerat, facilis officia soluta ratione? Repudiandae!</p>
        </div>
    </div>
</div>

</section>

<%- include('partials/footer') %>