<%- include('partials/header') %>

<div class="row">
    <div class="col-lg-6">
        <h1 class="big-heading" style="text-align: left;">Manage Centres</h1>
        <p style="text-align: left; color: #e43f5a;">Add, modify and delete new custom centres to the database.</p>
        <a href="#add"><input type="button" style="float: left" class="download-btn btn btn-dark btn-lg mb-5 mt-5 mr-2" value="Add"></a>
        <a href="#delete"><input type="button" style="float: left" class="download-btn btn btn-dark btn-lg mb-5 mt-5 mr-2" value="Delete"></a>
        <a href="#update"><input type="button" style="float: left" class="download-btn btn btn-dark btn-lg mb-5 mt-5 mr-2" value="Update"></a>
    </div>
    <div class="col-lg-6">
    </div>
</div>
</div>
</section>


<!-- Add New Centre -->

<section id="add" class="white-section">

    <div class="container-fluid">
        <div class="row left">
            <h1 class="mb-5 ml-4">Add New Centre</h1>
        </div>

        <form class="needs-validation" novalidate action="/addCentre" method="POST">
          
            <div class="row left mb-3">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="centre-name">Centre Name</label>
                        <input type="text" class="form-control" name="centreName" id="centre-name" required>
                        <div class="invalid-feedback">
                            Please enter a custom centre name.
                        </div>
                    </div>
                
                </div>

                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="rating">Rating</label>
                        <select class="form-control" name="rating" id="rating">
                            <option>Meeting NQS</option>
                            <option>Working Towards NQS</option>
                            <option>Exceeding NQS</option>
                            <option>Excellent</option>
                            <option>Significant Improvement Required</option>
                        </select>
                    </div>
                
                </div>
            </div>

            <div class="row left mb-3">

                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="centre-type">Centre Type</label>
                        <select class="form-control" name="centreType" id="centre-type">
                            <option>Centre-Based</option>
                            <option>Family Day Care</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="max-cost">Max Cost Per Day</label>
                        <input type="number" class="form-control" id="max-cost" name="maxCost" required>
                        <div class="invalid-feedback">
                            Please provide a cost per day.
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="size">Size</label>
                        <input class="form-control" name="centreSize" id="size" type="number">                      
                    </div>
                </div>
            </div>


            <div class="row left mb-3">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="long-day-care">Long Day Care?</label>
                        <select class="form-control" name="longDayCare" id="long-day-care">
                            <option value="No">No</option>
                            <option value="Yes">Yes</option>
                        </select>
                    </div>
                
                </div>

                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="kinder-school">Kinder Part of School?</label>
                        <select class="form-control" name="kinderSchool" id="kinder-school">
                            <option value="No">No</option>
                            <option value="Yes">Yes</option>
                        </select>
                    </div>                
                </div>

                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="kinder-standalone">Kinder Standalone?</label>
                        <select class="form-control" name="kinderStandalone" id="kinder-standalone">
                            <option value="No">No</option>
                            <option value="Yes">Yes</option>
                        </select>
                    </div>                
                </div>

            </div>

            <div class="row left mb-3">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="after-school">After School Care?</label>
                        <select class="form-control" name="afterSchool" id="after-school">
                            <option value="No">No</option>
                            <option value="Yes">Yes</option>
                        </select>
                    </div>
                
                </div>

                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="before-school">Before School Care?</label>
                        <select class="form-control" name="beforeSchool" id="before-school">
                            <option value="No">No</option>
                            <option value="Yes">Yes</option>
                        </select>
                    </div>                
                </div>

                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="vacation">Vacation Care?</label>
                        <select class="form-control" name="vacation" id="vacation">
                            <option value="No">No</option>
                            <option value="Yes">Yes</option>
                        </select>
                    </div>                
                </div>

            </div>

            <div class="row left">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="suburb">Suburb</label>
                        <input type="text" class="form-control" id="suburb" name="suburb" required>
                        <div class="invalid-feedback">
                            Please provide a suburb.
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="postcode">Postcode</label>
                        <input type="text" class="form-control" id="postcode" name="postcode" required>
                        <div class="invalid-feedback">
                            Please provide a postcode.
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">

                </div>

            </div>
            
            <div class="row" style="text-align: left;">
                <div class="col-lg-6">
                    <button type="submit" class="btn btn-info btn-lg mt-5 mr-3">Add Centre</button>
                    <a href="#title"><button type="button" class="btn btn-dark btn-lg mt-5">Back to Top</button></a>
                </div>
            </div>
        </form>
    </div>
  
</section>

<!-- Delete Existing Centre -->

<section id="delete" class="white-section">

    <div class="container-fluid">
        <div class="row left">
            <h1 class="mb-5 ml-4">Delete Existing Centre</h1>
        </div>

        <form class="needs-validation" novalidate action="/deleteCentre" method="POST">

            <div class="row left mb-3">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="centre-name">Find Centre Name</label>
                        <input type="text" class="form-control" name="deleteCentre" id="centre-name" required>
                        <div class="invalid-feedback">
                            Please enter a custom centre name.
                        </div>
                    </div>
                
                </div>
            </div>
            
            <div class="row" style="text-align: left;">
                <div class="col-lg-6">
                    <button type="submit" class="btn btn-info btn-lg mt-5 mr-3">Delete Centre</button>
                    <a href="#title"><button type="button" class="btn btn-dark btn-lg mt-5">Back to Top</button></a>
                </div>
            </div>
        </form>
    </div>
    
</section>

<!-- Update Existing Centre -->

<section id="update" class="white-section">

    <div class="container-fluid">
        <div class="row left">
            <h1 class="mb-5 ml-4">Update Existing Centre</h1>
        </div>

        <form class="needs-validation" novalidate action="/updateCentre" method="POST">

            <div class="row left mb-3">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="centre-name">Centre Name</label>
                        <input type="text" class="form-control" name="centreName" id="centre-name" required>
                        <div class="invalid-feedback">
                            Please enter a custom centre name.
                        </div>
                    </div>
                
                </div>

                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="rating">Rating</label>
                        <select class="form-control" name="rating" id="rating">
                            <option>Meeting NQS</option>
                            <option>Working Towards NQS</option>
                            <option>Exceeding NQS</option>
                            <option>Excellent</option>
                            <option>Significant Improvement Required</option>
                        </select>
                    </div>
                
                </div>
            </div>

            <div class="row left mb-3">

                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="centre-type">Centre Type</label>
                        <select class="form-control" name="centreType" id="centre-type">
                            <option>Centre-Based</option>
                            <option>Family Day Care</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="max-cost">Max Cost Per Day</label>
                        <input type="number" class="form-control" id="max-cost" name="maxCost" required>
                        <div class="invalid-feedback">
                            Please provide a cost per day.
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="size">Size</label>
                        <select class="form-control" name="centreSize" id="size">
                            <option value="Any">Any</option>
                            <option value="Small">Small (less than 50 places)</option>
                            <option value="Medium">Medium (between 50 - 100 places)</option>
                            <option value="Large">Large (over 100 places)</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row left">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="suburb">Suburb</label>
                        <input type="text" class="form-control" id="suburb" name="suburb" required>
                        <div class="invalid-feedback">
                            Please provide a suburb.
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="postcode">Postcode</label>
                        <input type="text" class="form-control" id="postcode" name="postcode" required>
                        <div class="invalid-feedback">
                            Please provide a postcode.
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">

                </div>

            </div>
            
            <div class="row" style="text-align: left;">
                <div class="col-lg-6">
                    <button type="submit" class="btn btn-info btn-lg mt-5 mr-3">Update Centre</button>
                    <a href="#title"><button type="button" class="btn btn-dark btn-lg mt-5">Back to Top</button></a>
                </div>
            </div>
        </form>
    </div>

</section>

<script>

// Disable form submissions if there are invalid fields
(function () {
'use strict';
window.addEventListener('load', function () {
    // Get the forms we want to add validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function (form) {
        form.addEventListener('submit', function (event) {
            if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
            }
            form.classList.add('was-validated');
        }, false);
    });
}, false);
})();
</script>

<%- include('partials/footer') %>