<%- include('partials/header') %>

 <!-- Title Inner-->

 <div class="row">
    <div class="col-lg-8">
        <h1 class="big-heading" style="text-align: left;">Update a Centre</h1>
       <a href="manage"><input style="display:block" type="button"
                class="download-btn btn btn-dark btn-lg mb-5 mt-5" value="Go Back to Manage Centres"></a> 
    </div>
    <div class="col-lg-4">
    </div>
</div>
</div>
</section>


<!-- Check centre to be updated -->

<section class="white-section">

<div class="container-fluid">
    <form action="/updateCentre" method="POST">
        <h2 class="middle-heading mb-5">You chose to update <%= centre[0].centreName %>:</h2>
    <div class="row">
        <div class="col-lg-3">
            <div class="form-group">
                <label class="form-check pl-0" for="centre-size">Centre Name</label>
                <input class="form-control" type="text" name="centreName" id="centre-name">
            </div>

        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label class="form-check pl-0" for="centre-size">Centre Size</label>
                <input class="form-control" type="number" name="centreSize" id="centre-size">
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label class="form-check pl-0" for="centre-rating">Centre Rating</label>
                <select class="form-control" name="rating" id="centre-rating">
                    <option>Meeting NQS</option>
                    <option>Working Towards NQS</option>
                    <option>Exceeding NQS</option>
                    <option>Excellent</option>
                    <option>Significant Improvement Required</option>
                </select>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label class="form-check pl-0" for="centre-cost">Cost Per Day</label>
                <input class="form-control" type="number" name="maxCost" id="centre-cost">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <div class="form-group">
                <label class="form-check pl-0" for="long-day-care">Long Day Care?</label>
                <select class="form-control" name="longDayCare" id="long-day-care">
                    <option value="No">No</option>
                    <option value="Yes">Yes</option>
                </select>
            </div>

        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label class="form-check pl-0" for="kinder-school">Kinder Part of School</label>
                <select class="form-control" name="kinderSchool" id="kinder-school">
                    <option value="No">No</option>
                    <option value="Yes">Yes</option>
                </select>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label class="form-check pl-0" for="kinder-standalone">Kinder Standalone</label> 
                <select class="form-control" name="kinderStandalone" id="kinder-standalone">
                    <option value="No">No</option>
                    <option value="Yes">Yes</option>
                </select>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label class="form-check pl-0" for="after-school">After School Care</label>
                <select class="form-control" name="afterSchool" id="after-school">
                    <option value="No">No</option>
                    <option value="Yes">Yes</option>
                </select>
            </div>
        </div>
    </div>

    
    <div class="row">
        <div class="col-lg-3">
            <div class="form-group">
                <label class="form-check pl-0" for="before-school">Before School Care</label>
                <select class="form-control" name="beforeSchool" id="before-school">
                    <option value="No">No</option>
                    <option value="Yes">Yes</option>
                </select>
            </div>

        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label class="form-check pl-0" for="vacation">Vacation Care?</label>
                <select class="form-control" name="vacation" id="vacation">
                    <option value="No">No</option>
                    <option value="Yes">Yes</option>
                </select>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label class="form-check pl-0" for="suburb">Suburb</label>
                <input class="form-control" type="text" name="suburb" id="suburb">
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label class="form-check pl-0" for="postcode">Postcode</label>
                <input class="form-control" type="number" name="postcode" id="postcode">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <div class="form-group">
                <label class="form-check pl-0" for="centre-type">Centre Type</label>
                <select class="form-control" name="centreType" id="centre-type">
                    <option>Centre-Based</option>
                    <option>Family Day Care</option>
                </select>
            </div>
        </div>
   </div>
   <button type="submit" class="btn btn-primary btn-lg mt-4 ml-3">Update</button>  
</form> 

</div>

</section>


<%- include('partials/footer') %>