body {
    font-family: 'ABeeZee', sans-serif;
    text-align: center;
  }
  
h1{
    color: #162447;
    margin-bottom: 20px;
  }
  
p {
    font-family: 'Montserrat', sans-serif;
  }

.left {
  text-align: left;
}

a:link {
  text-decoration: none;
}

label{
  color: #162447;
  text-align: left;
}

  
  /* Headings and Containers */
  
.big-heading {
    font-size: 4rem;
    font-weight: 900;
    color: white;
  }

.middle-heading{
    text-align: left; 
    color: #e43f5a;
    margin-bottom: 20px;
  }
  
.blog-heading{
  color: #e43f5a;
  font-size: 1.5rem;
}

.container-fluid {
    padding: 5% 20%;
  }
  
  /* Sections */
  
  .colored-section {
    background-image: url(../images/vintage-wallpaper.png);
    color: #fff;
  }
  
  
  /* Navigation Bar CSS  */
  
  .navbar {
    padding: 0px 0px 75px 0px;
  }
  
  .navbar-brand {
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    color: #e43f5a;
  }
  
  .nav-item {
    padding-left: 20px;
    padding-right: 20px;
  }

  .has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
  
  
  /*Title Sections CSS  */
  
  .homePageMoney{
    height: 200px;
    position: relative;
  }

  .homePageMoneySmall{
    height: 50px;
    position: relative;
    margin-bottom: 150px;
  }


  /* Wizard CSS */

  .wizardScenario
  {
    text-align: left;
    padding: 2%;
  }


  /* Features Section CSS */
  
  .feature-heading {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #1b1b2f;
  }
  
  .feature-box {
    padding: 4.5%;
  }
  
  .icon-style {
    color: #e43f5a;
    margin-bottom: 1.25rem;
  }
  
  .icon-style:hover {
    color:#1f4068;
  }
  
  .back-to-top {
    margin-top: 10px;
    color:#e43f5a;
  }
  
  /* Testimonials Section CSS */
    
  .testimonial-image {
    width: 40%;
    height: 90%;
    margin: 1.25rem;
    border-radius: 75%;
  }
  
  .testimonial-text {
      font-size: 3rem;
      margin-bottom: 30px;
  }
  
  
  /* Resources Section CSS */
  
  .resources-heading {
    color: #e43f5a;
  }
  
  .resources-heading:hover {
    color:#1b1b2f;
  }
  
  .card {
    margin: 0 0px 10px 0px;
  }
  
  .resources-header {
    margin-bottom: 50px;
  }
  
  .resources-text {
      font-size: 3rem;
  }
  
  
  /* Footer CSS */
  

  .footer-icons {
    margin-bottom: 20px;
  }
  
  .footer-icon {
    padding: 5px;
  }

  /* Table CSS */
  
  table.dataTable thead .sorting:after,
  table.dataTable thead .sorting:before,
  table.dataTable thead .sorting_asc:after,
  table.dataTable thead .sorting_asc:before,
  table.dataTable thead .sorting_asc_disabled:after,
  table.dataTable thead .sorting_asc_disabled:before,
  table.dataTable thead .sorting_desc:after,
  table.dataTable thead .sorting_desc:before,
  table.dataTable thead .sorting_desc_disabled:after,
  table.dataTable thead .sorting_desc_disabled:before {
  bottom: .5em;
  }



  /* Media Queries */
  
  @media (max-width: 992px) {
    
  .big-heading {
      font-size: 2.5rem;
    }
  
  .homePageMoney {
        margin-left: 0px;
        position: static;
        width:40%;
    }
  
  .testimonial-text {
    font-size: 2rem;
    }

  #kidGroupPic
  {
    display: none;
  }
  
  }

  @media (max-width: 1290px) {
       
    .has-search{
        display: none;
       }
  
    }
