<%- include('../partials/adminHeader') %>

 <!-- Title Inner-->

 <div class="row">
    <div class="col-lg-8">
        <h1 class="big-heading mt-4" style="text-align: left;">ChildCare Wizardry.</h1>
 
        <p style="color: #e43f5a; text-align: left;">This app can help you:</p>
        <ul style="text-align: left;">
            <li class="p-1">Search and manage a database of Victorian child care centres</li>
            <li class="p-1">Compare alternate child care scenarios from a financial perspective</li>
        </ul>
    </div>
    <div class="col-lg-4">
    </div>
</div>
</div>
</section>


<section class="white-section">

<div class="container-fluid">
    <h2 class="mb-5" style="text-align: left;">Welcome User ID <%= foundUser.id %>! </h2>

<div class="row" style="background-image: url('../../images/gray.jpg');">
    <div class="feature-box col-lg-3">

        <i class="icon-style fas fa-dollar-sign fa-4x mb-5"></i>
        <h3 class="feature-heading">Run a Calculation</h3>
        <a class="btn btn-outline-dark btn-lg mt-4" role="button" href="../wizard/wizardLanding">Try Now</a>

    </div>

    <div class="feature-box col-lg-3">

        <i class="icon-style fas fa-search fa-4x mb-5"></i>
        <h3 class="feature-heading">Search Centres</h3>
        <a class="btn btn-outline-dark btn-lg mt-4" role="button" href="search">Search Now</a>

    </div>

    <div class="feature-box col-lg-3">

        <i class="icon-style fab fa-earlybirds fa-4x mb-5"></i>
        <h3 class="feature-heading">Your Family Profile</h3>
        <a class="btn btn-outline-dark btn-lg mt-4" role="button" href="../profile/viewProfile">View and Edit</a>


    </div>

    <div class="feature-box col-lg-3">

        <i class="icon-style fab fa-earlybirds fa-4x mb-5"></i>
        <h3 class="feature-heading">Saved Scenarios</h3>
        <a class="btn btn-outline-dark btn-lg mt-4" role="button" href="../profile/viewProfile">View and Edit</a>


    </div>

</div>
</div>

</section>


<%- include('../partials/footer') %>