<%- include('../partials/adminHeader') %>

<main>

    <div class="container-fluid">
        <div class="row">
            <h1 class="mb-5 ml-4">Add New Centre</h1>
        </div>

        <form class="needs-validation" novalidate action="/addCentre" method="POST">
          
            <div class="row mb-3">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="centre-name">Centre Name</label>
                        <input type="text" class="form-control" name="centreName" id="centre-name" required>
                        <div class="invalid-feedback">
                            Please enter a custom centre name.
                        </div>
                    </div>
                
                </div>

                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="rating">Rating</label>
                        <select class="form-control" name="rating" id="rating">
                            <option>Meeting NQS</option>
                            <option>Working Towards NQS</option>
                            <option>Exceeding NQS</option>
                            <option>Excellent</option>
                            <option>Significant Improvement Required</option>
                        </select>
                    </div>
                
                </div>
            </div>

            <div class="row mb-3">

                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="centre-type">Centre Type</label>
                        <select class="form-control" name="centreType" id="centre-type">
                            <option>Centre-Based</option>
                            <option>Family Day Care</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="max-cost">Max Cost Per Day</label>
                        <input type="number" class="form-control" id="max-cost" name="maxCost" required>
                        <div class="invalid-feedback">
                            Please provide a cost per day.
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="size">Size</label>
                        <input class="form-control" name="centreSize" id="size" type="number">                      
                    </div>
                </div>
            </div>


            <div class="row mb-3">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="long-day-care">Long Day Care?</label>
                        <select class="form-control" name="longDayCare" id="long-day-care">
                            <option value="No">No</option>
                            <option value="Yes">Yes</option>
                        </select>
                    </div>
                
                </div>

                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="kinder-school">Kinder Part of School?</label>
                        <select class="form-control" name="kinderSchool" id="kinder-school">
                            <option value="No">No</option>
                            <option value="Yes">Yes</option>
                        </select>
                    </div>                
                </div>

                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="kinder-standalone">Kinder Standalone?</label>
                        <select class="form-control" name="kinderStandalone" id="kinder-standalone">
                            <option value="No">No</option>
                            <option value="Yes">Yes</option>
                        </select>
                    </div>                
                </div>

            </div>

            <div class="row mb-3">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="after-school">After School Care?</label>
                        <select class="form-control" name="afterSchool" id="after-school">
                            <option value="No">No</option>
                            <option value="Yes">Yes</option>
                        </select>
                    </div>
                
                </div>

                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="before-school">Before School Care?</label>
                        <select class="form-control" name="beforeSchool" id="before-school">
                            <option value="No">No</option>
                            <option value="Yes">Yes</option>
                        </select>
                    </div>                
                </div>

                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="vacation">Vacation Care?</label>
                        <select class="form-control" name="vacation" id="vacation">
                            <option value="No">No</option>
                            <option value="Yes">Yes</option>
                        </select>
                    </div>                
                </div>

            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="suburb">Suburb</label>
                        <input type="text" class="form-control" id="suburb" name="suburb" required>
                        <div class="invalid-feedback">
                            Please provide a suburb.
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="postcode">Postcode</label>
                        <input type="text" class="form-control" id="postcode" name="postcode" required>
                        <div class="invalid-feedback">
                            Please provide a postcode.
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">

                </div>

            </div>
            
            <div class="row">
                <div class="col-lg-6">
                    <button type="submit" class="btn btn-info btn-lg mt-5 mr-3">Add Centre</button>
                    <a href="#top"><button type="button" class="btn btn-dark btn-lg mt-5">Back to Top</button></a>
                </div>
            </div>
        </form>
    </div>
  


<!-- Delete Existing Centre -->



    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-6">
                <h1 class="mb-5">Delete Existing Centre</h1>
                <form class="needs-validation" novalidate action="/deleteCheck" method="POST">

                    <div class="row mb-3">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="centre-name">Find Centre Name</label>
                                <input type="text" class="form-control" name="deleteCentre" id="centre-name" required>
                                <div class="invalid-feedback">
                                    Please enter a custom centre name.
                                </div>
                            </div>
                        
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-lg-6">
                            <button type="submit" class="btn btn-info btn-lg mt-5 mr-3">Delete Centre</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-6">
                <h1 class="mb-5">Update Existing Centre</h1>
                <form class="needs-validation" novalidate action="/updateCheck" method="POST">

                    <div class="row mb-3">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="centre-name">Find Centre Name</label>
                                <input type="text" class="form-control" name="updateCentre" id="centre-name" required>
                                <div class="invalid-feedback">
                                    Please enter a custom centre name.
                                </div>
                            </div>                
                        </div>
                   </div>
                    
                    <div class="row">
                        <div class="col-lg-6">
                            <button type="submit" class="btn btn-info btn-lg mt-5 mr-3">Find Centre to Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>              
    </div>


</main>



<script>

// Disable form submissions if there are invalid fields
(function () {
'use strict';
window.addEventListener('load', function () {
    // Get the forms we want to add validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function (form) {
        form.addEventListener('submit', function (event) {
            if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
            }
            form.classList.add('was-validated');
        }, false);
    });
}, false);
})();
</script>

<%- include('../partials/footer') %>