<%- include('../partials/header') %>


    <section class="white-section">

    <div class="container-fluid">

    <div class="row mb-5">

        <h1>Welcome User!</h1>

    </div>

        <div class="row row-home">
            <div class="col-lg-6">
                <div class="card bg-light border-light mb-3">
                
                    <div class="card-body">               
                        <a class="btn btn-home btn-dark btn-lg mt-4 mb-3" role="button" href="../wizard/wizardLanding">Run a Comparison</a>
                        <i class="card-img-top icon-style fas fa-dollar-sign fa-3x mb-3 mt-3"></i>
                    </div>
                </div>     
            </div>

            <div class="col-lg-6">
                <div class="card bg-light border-light mb-3">
                
                    <div class="card-body">                
                        <a class="btn btn-home btn-dark btn-lg mt-4 mb-3" role="button" href="../searchCentre/search">Search Childcare Centres</a>
                        <i class="card-img-top icon-style fas fa-search fa-3x mb-3 mt-3"></i>
                    </div>
                </div>     
            </div>
        </div>

        <div class="row row-home mt-5">
            <div class="col-lg-6">
                <div class="card bg-light border-light mb-3">
                
                    <div class="card-body">    
                        <a class="btn btn-home btn-dark btn-lg mt-4 mb-3" role="button" href="../resources">Helpful Resources</a>
                        <i class="card-img-top icon-style fas fa-lightbulb fa-3x mt-3"></i>
                    </div>
                </div>     
            </div>

            <div class="col-lg-6">
                <div class="card bg-light border-light">
                
                    <div class="card-body">

                        <a class="btn btn-home btn-dark btn-lg mt-4 mb-3" role="button" href="../about">Learn About This App</a>
                        <i class="card-img-top icon-style fas fa-question fa-3x mb-3 mt-3"></i>
                    </div>
                </div>     
            </div>
        </div>

    </div>

</section>


<%- include('../partials/footer') %>