<%- include('../partials/header') %>


<section class="white-section">

<div class="container-fluid">

<div class="row mb-5">

    <h1 style="padding-left: 15px;">Welcome User!</h1>

</div>

<div class="row" style="width: 80%; margin: auto;">
    <div class="col-lg-6">
        <div class="card bg-light border-light mb-3">
         
            <div class="card-body">
                <h3 class="card-title feature-heading">Run a Comparison</h3>
                <i class="card-img-top icon-style fas fa-dollar-sign fa-3x mb-3 mt-3"></i>
                <a class="btn btn-dark btn-lg mt-4" role="button" href="../wizard/wizardLanding">Try Now</a>
            </div>
        </div>     
    </div>

    <div class="col-lg-6">
        <div class="card bg-light border-light mb-3">
          
            <div class="card-body">
                <h3 class="card-title feature-heading">Search Centres</h3>
                <i class="card-img-top icon-style fas fa-search fa-3x mb-3 mt-3"></i>
                <a class="btn btn-dark btn-lg mt-4" role="button" href="../searchCentre/search">Search Now</a>
            </div>
        </div>     
    </div>
</div>

<div class="row mt-5" style="width: 80%; margin: auto;">
    <div class="col-lg-6">
        <div class="card bg-light border-light mb-3">
        
            <div class="card-body">
                <h3 class="card-title feature-heading">Look Through Resources</h3>
                <i class="card-img-top icon-style fas fa-dollar-sign fa-3x mt-3"></i>
                <a class="btn btn-dark btn-lg mt-4" role="button" href="../resources">Look Now</a>
            </div>
        </div>     
    </div>

    <div class="col-lg-6">
        <div class="card bg-light border-light">
          
            <div class="card-body">
                <h3 class="card-title feature-heading">Learn About This App</h3>
                <i class="card-img-top icon-style fas fa-search fa-3x mb-3 mt-3"></i>
                <a class="btn btn-dark btn-lg mt-4" role="button" href="../about">Learn Now</a>
            </div>
        </div>     
    </div>
</div>

</div>

</section>


<%- include('../partials/footer') %>