<%- include('../partials/header') %>

<main>

    <div class="container-fluid">
        <h1 class="mb-5">Your Account</h1>

        <h3>Current Email Address:</h3>
        <p>jaedoyne@hotmail.com</p>

        <form action="/changeEmail" method="POST">
        

            <button class="btn btn-primary mt-4 mb-4" type="submit">Change Email Address</button>

        </form>

        <form action="/changePassword" method="POST">
        
            <button class="btn btn-primary" type="submit">Change Password</button>

        </form>

    </div>

</main>



<%- include('../partials/footer') %>