<%- include('../partials/header') %>

<main>

    <div class="container-fluid">
        <div class="mb-5">
            <h1 class="display-4 mb-5">Bagnoux Family</h1>
            <a href="../wizard/wizardLanding"><button class="btn btn-lg btn-primary float-right">Go to Wizard</button></a>
            <p class="lead">Couple Household</p>            
            <a href="#">Edit<i class="fas fa-pen ml-2 text-primary"></i></a>
        </div>

        <hr>

        <div class="row">
            <div class="col-lg-6">
                <h2 class="text-info mb-2">Parent 1</h2>
                <a href="#">Edit</a>
                <p class="mt-3"><strong>Karina Bagnoux</strong></p>
                <p>DOB: 22/7/1987</p>
                <p>Occupation: Nurse</p>
                <p>Yearly Gross Income, Excluding Super: $70,000</p>
                <p>Paid Hours Per Week: 30</p>
            </div>
            <div class="col-lg-6">
                <h2 class="text-info mb-2">Parent 2</h2>
                <a href="#">Edit/Delete</a>
                <p class="mt-3"><strong>Daniel Bagnoux</strong></p>
                <p>DOB: 22/7/1987</p>
                <p>Occupation: Builder</p>
                <p>Yearly Gross Income, Excluding Super: $60,000</p>
                <p>Paid Hours Per Week: 40</p>
            </div>
        </div>
        <hr>

            <h2 class="text-primary mb-4">Children</h2>
            <p>Riley Bagnoux, DOB: 28/6/2016</p>
            <a href="#">Edit/Delete</a>
            <p>Lincoln Bagnoux, DOB: 2/2/2018</p>
            <a href="#">Edit/Delete</a>
            <hr>
            <a href="#"><button class="btn btn-primary">Add Another Child</button></a>







    </div>

</main>


<%- include('../partials/footer') %>

