<%- include('../partials/header') %>

<main>

    <div class="container-fluid">
        <h1 class="mb-5">Your Profile</h1>


        <table class="table">
            <tr>
                <td>Family Name</td>
                <td>Bagnoux</td>
            </tr>
            <tr>
                <td>Household Type</td>
                <td>Single</td>
            </tr>
            <tr>
                <td>Parent 1</td>
                <td>Karina Doyne</td>
            </tr>
            <tr>
                <td>Child 1</td>
                <td>Riley Doyne</td>
            </tr>

        </table>



    </div>

</main>


<%- include('../partials/footer') %>

