<%- include('partials/header') %>

<main>

    <h4 class="display-4 mb-5">This application was built to help parents compare the financial differences between different childcare arrangements.</h4>
    <p class="lead text-info">When deciding which childcare option is best for your family, things to consider include:</p>
    <ul>
        <li class="mb-2">Which type of care is best - family day care, centre based or outside school hours care?</li>
        <li class="mb-2">How much will I be out of pocket?  Will my wage cover the cost of childcare?</li>
        <li class="mb-2">How much childcare subsidy will we be entitled to?</li>
        <li class="mb-2">What's the difference between having the kids in full time care, part time care or no care?</li>
        <li class="mb-4">What if you or your partner work full time, part time or stay at home full time?</li>
    </ul>

    <p class="lead text-info mt-4">The Wizard incorporates the following:</p>
    <ul>
        <li class="mb-2">Single or Couple Household</li>
        <li class="mb-2">Up to five children</li>
        <li class="mb-2">Centre-based care, family day care and outside school hours care options</li>
        <li class="mb-2">Child care subsidy implications</li>
        <li class="mb-2">Family Tax Benefit implications</li>
        <li class="mb-2">Personal income tax implications</li>
        <li class="mb-2">Overall annual out of pocket expenses</li>
    </ul>

</main>



<%- include('partials/footer') %>