<!DOCTYPE html>
<html>

  <head>
      <meta charset="utf-8">
      <title>finCare</title>

      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <link rel="stylesheet" href="/css/styles.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;700;900&display=swap"rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=ABeeZee&display=swap" rel="stylesheet">

  </head>

  <body>

    <main id="landing">
        <div class="container-fluid">

          <div class="row row-landing">
            <h1 class="mt-5 mb-5 display-4">ChildCare Financial Wizard</h1>
          </div>

            <div class="outer-box">
              <h2 class="mt-5 mb-4 ml-5">Register</h2>
              <p id="passwordNoMatch" class="ml-5 text-warning"></p>
                <div class="inner-box mb-5">
          
                  <form onsubmit="return validation()" action="/register" method="POST">
                      <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" name="username">
                      </div>
                      <div class="form-group">
                        <label for="password">Choose Password</label>
                        <input type="password" class="form-control" name="password" id="password">
                      </div>
                      <div class="form-group">
                        <label for="repassword">Re-enter Password</label>
                        <input type="password" class="form-control" name="repassword" id="repassword">
                      </div>
                        <button type="submit" class="btn btn-lg mr-4 mt-3 mb-3 btn-primary">Register</button> 
                        <a class="btn btn-info btn-lg float-right mt-3" type="button" href="/">Go Back</a>
                        <button type="reset" class="btn btn-lg float-right mr-4 mt-3 mb-3 btn-light">Reset</button> 
                  </form>  

                </div>
            </div>
        </div>
    </main>

    <script type="text/javascript">

    function validation(){
     
      let password = document.getElementById("password").value;
      let repassword = document.getElementById("repassword").value;

      if(password != repassword){
        document.getElementById("passwordNoMatch").innerHTML = "<p>Passwords did not match, please try again.</p>";
        return false;
      } else { return true; }


    }

    </script>

    <footer>
        <div class="container-fluid">
            <div class="mb-5">
                <a href="https://www.twitter.com/"><i class="text-light footer-icon fab fa-twitter"></i></a>
                <a href="https://www.facebook.com/"><i class="text-light footer-icon fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/"><i class="text-light footer-icon fab fa-instagram"></i></a>
                <a href="mailto:jaedoyne@gmail.com/"><i class="text-light footer-icon fas fa-envelope"></i></a>
            </div>
            <p>© Copyright 2020 finCare</p>
        </div>
    </footer>

  </body>

</html>
