<%- include('partials/header') %>

<main>

    <h1 class="display-4 mb-4">Resources</h1>

    <a href="https://www.childcarefinder.gov.au/" target="blank"><p class="lead text-info mt-5">Child Care Finder (Government Website)</p></a>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, optio suscipit? 
        Tempora tenetur exercitationem eum, harum, consequatur, facere doloribus numquam adipisci
        corporis non quo nesciunt neque blanditiis accusantium! Sequi, maiores.</p>

    <a href="https://www.servicesaustralia.gov.au/individuals/services/centrelink/child-care-subsidy" target="blank"><p class="lead text-info mt-5">Child
         Care Subsidy (Centrelink Website)</p></a>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, optio suscipit? 
        Tempora tenetur exercitationem eum, harum, consequatur, facere doloribus numquam adipisci
        corporis non quo nesciunt neque blanditiis accusantium! Sequi, maiores.</p>        

    <a href="https://www.acecqa.gov.au/resources/national-registers" target="blank"><p class="lead text-info mt-5">ACECQA National Register
            (Government Website)</p></a>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, optio suscipit? 
           Tempora tenetur exercitationem eum, harum, consequatur, facere doloribus numquam adipisci
           corporis non quo nesciunt neque blanditiis accusantium! Sequi, maiores.</p>        

    <a href="https://au.storypark.com/" target="blank"><p class="lead text-danger mt-5">Story Park
            (Government Website)</p></a>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, optio suscipit? 
           Tempora tenetur exercitationem eum, harum, consequatur, facere doloribus numquam adipisci
           corporis non quo nesciunt neque blanditiis accusantium! Sequi, maiores.</p> 

    <a href="https://www.careforkids.com.au/" target="blank"><p class="lead text-danger mt-5">Care for Kids</p></a>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, optio suscipit? 
           Tempora tenetur exercitationem eum, harum, consequatur, facere doloribus numquam adipisci
           corporis non quo nesciunt neque blanditiis accusantium! Sequi, maiores.</p> 
           
</main>



<%- include('partials/footer') %>