/* ELEMENTS */

html, body {
  height: 100%;
}

body {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  color: #162447;
}

header {
  padding: 2% 15%;

}

main {
  background: rgb(255,255,255);
  background: linear-gradient(152deg, rgba(255,255,255,1) 0%, rgba(239,239,240,0.4290091036414566) 35%, rgba(204,204,204,1) 100%);
  flex-grow: 1;
  padding: 3% 15%;
  text-align: left;
}

.form-inline label {
  justify-content: left;
  padding-bottom: 0.5rem;
}

footer {
  padding: 1.5%;
}

a:hover {
  text-decoration: none;
}

/* ------- All PAGES ------------ */

.container-fluid {
  padding: 0;
}

.col-lg-6 {
  padding: 0%;
}

.row {
  margin: auto;
}

.float-right {
  float: right;
}

.navbar {
  padding: 25px 0px 0px 0px;
  color: white;
}

.nav-item {
  padding-left: 20px;
  padding-right: 20px;
}

/* ------ Landing Login and Registration Pages ---------- */

#landing {
  text-align: left;
  flex-grow: 1;
  padding: 3% 15%;
}

.row-landing {
  width: 70%;
  margin-bottom: 2%;
}

.outer-box{
  background-color: white;
  width: 70%;
  padding: 10px;
  text-align: left;
  border-radius: 0.5%;
  margin: 0 auto;
}

.inner-box{
  width: 80%;
  height: 300px;
  padding: 35px;
  border-radius: 0.5%;
  margin: 0 auto;

}

/* ------ Home Page ------------- */

.btn-home {
  padding: 5%;
}

.home-card {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 8%;
}

.row-home {
  width: 75%;
  text-align: center;
}

/* -------- Footer ------------- */

.footer-icon {
  padding: 5px;
}

