body, html {
  font-family: "ABeeZee", sans-serif;
  text-align: center;
  height: 100%;
}

h1 {
  color: #162447;
  margin-bottom: 20px;
}

p {
  font-family: "Montserrat", sans-serif;
}

.left {
  text-align: left;
}

.outer-box{
  background-color: white;
  width: 70%;
  padding: 10px;
  text-align: left;
  border-radius: 0.5%;
  margin: 0 auto;
}

.inner-box{
  width: 80%;
  height: 300px;
  background-image: url(../images/vintage-wallpaper.png);
  padding: 35px;
  border-radius: 0.5%;
  margin: 0 auto;
}


.bg {
  background-image: url(../images/vintage-wallpaper.png);
}

a:link {
  text-decoration: none;
}

label {
  color: #162447;
  text-align: left;
}

/* Headings and Containers */

.big-heading {
  font-size: 4rem;
  font-weight: 900;
  color: white;
}

.middle-heading {
  text-align: left;
  color: #e43f5a;
  margin-bottom: 20px;
}

.blog-heading {
  color: #e43f5a;
  font-size: 1.5rem;
}

.container-fluid{
  padding: 3% 15%;
}

#top-section{
  padding: 2% 20%;
}

/* Sections */

.colored-section {
  color: #fff;
}

/* Navigation Bar CSS  */

.navbar {
  padding: 25px 0px 0px 0px;
}

.navbar-brand {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: #e43f5a;
}

.nav-item {
  padding-left: 20px;
  padding-right: 20px;
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

/* Wizard CSS */

.wizardScenario {
  text-align: left;
  padding: 2%;
}

/* Features Section CSS */

.feature-heading {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #1b1b2f;
}

.feature-box {
  padding: 2.5%;
}

.icon-style {
  color: #e43f5a;
  margin-bottom: 1.25rem;
}

.icon-style:hover {
  color: #1f4068;
}

.back-to-top {
  margin-top: 10px;
  color: #e43f5a;
}

/* Footer CSS */

.footer-icons {
  margin-bottom: 20px;
}

.footer-icon {
  padding: 5px;
}

/* Table CSS */

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
  bottom: 0.5em;
}

/* Media Queries */

@media (max-width: 992px) {
  .big-heading {
    font-size: 2.5rem;
  }

  .homePageMoney {
    margin-left: 0px;
    position: static;
    width: 40%;
  }

  .testimonial-text {
    font-size: 2rem;
  }

  #kidGroupPic {
    display: none;
  }
}

@media (max-width: 1290px) {
  .has-search {
    display: none;
  }
}
