    <footer>
        <div class="container-fluid">
            <div class="mb-4">
                <a href="https://www.twitter.com/"><i class="footer-icon text-light fab fa-twitter"></i></a>
                <a href="https://www.facebook.com/"><i class="footer-icon text-light fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/"><i class="footer-icon text-light fab fa-instagram"></i></a>
                <a href="mailto:jaedoyne@gmail.com/"><i class="footer-icon text-light fas fa-envelope"></i></a>
            </div>
            <p style="color: #e43f5a;">© Copyright 2020 finCare</p>
        </div>
    </footer>
    
</body>

</html>