<%- include('../partials/header') %>

<section class="white-section">

<div class="container-fluid">
    <div class="row">
        <h1>We could not find a matching centre/s, please try again.</h1>
        <a href="/searchCentre/search"><input type="button" class="btn btn-info btn-lg mb-5 mt-5 mr-3" value="Search Again"></a> 
    </div>
</div>

</section>


<%- include('../partials/footer') %>