<%- include('../partials/header') %>

 <!-- Title Inner-->

 <div class="row">
    <div class="col-lg-8">
        <h1 class="big-heading" style="text-align: left;">Search Results</h1>
        <p style="text-align: left; color: #e43f5a;">Whoops!</p>
        <a href="/searchCentre/search"><input type="button" style="float: left;" class="download-btn btn btn-info btn-lg mb-5 mt-5 mr-3" value="Search Again"></a> 
        <a href="/manage"><input type="button" style="float: left;" class="download-btn btn btn-light btn-lg mb-5 mt-5" value="Go to Manage Centres"></a> 
    </div>
    <div class="col-lg-4">
    </div>
</div>
</div>
</section>


<!-- Features -->

<section class="white-section">

<div class="container-fluid">
<div class="row">
    
    <h1>We could not find a matching centre/s, please try again.</h1>
   

</div>
</div>

</section>


<%- include('../partials/footer') %>